body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
}

a {
	font-size: 24px;
	color: white;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
  align-content: center;
  flex-shrink: 0;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  margin-top: auto;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.container {
	display: flex;
	justify-content: space-between;
	margin: 20px;
	flex-flow: row wrap;
}
 
.row {
	display: flex;
	flex-flow: column wrap;
	gap: 10px;
	margin: 5px;
}

.sidebar {
  padding: 16px;
  background: royalblue;
  box-sizing: border-box;
  width: 300px;
  flex-shrink: 0;
}

.main {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
}

.card {
  width: 250px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 48px;
  display: flex;
}
