.black-and-white, .yellow-and-black {
	font-size: 28px;
	font-family: "Helvetica", "Times New Roman", sans-serif; 
}

.black-and-white {
	background-color: rgb(0, 0, 0);
	color: white;
}

.yellow-and-black {
	background-color: yellow;
	color: black;
}
